input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Скрываем стрелки для Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.mapContainer canvas {
  border-radius: 1rem;
}

.sectionHeight {
  min-height: calc(100vh - 104px);
}
